# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
